name: "Magento 2 Coding Standard Tests"
on:
  pull_request:
    paths-ignore:
      - '**/*.md'
  push:
    - main:
        paths-ignore:
          - '**/*.md'
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Clone bats repository
        uses: actions/checkout@v3
        with:
          repository: bats-core/bats-core
          ref: v1.9.0
          path: bats
      - name: Install bats
        run: sudo ./install.sh
        working-directory: bats
      - name: Install PHP and composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1
          tools: composer:2.3, phpcs:3.6
      - name: Run tests
        run: bats --tap tests
