name: "Magento 2 Coding Standard"
on:
  pull_request:
  push:
jobs:
  coding-standard:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/checkout@v3
      with:
        repository: codemanufacture/magento2-dummy-module
        ref: master
        path: module
    - name: Setup PHP with composer
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.1
        tools: composer:2.3, phpcs:3.6
    - name: Run coding standard analysis
      uses: ./
      with:
        directory: "${{github.workspace}}/module"
